*{
	margin: 0;
	padding: 0;
}

.custom-container{
	margin-top: 64px !important;
}
.custom_col{
	box-sizing: border-box;
	height: 21rem;
	margin-bottom: 1em;
}
.custom_group{
	width: 100%;
	
}
.tenSP{
	text-align: left;
}
.custom_col_tensp{
	text-align: left !important;
	margin: auto 0 !important;
}
.custom_row_thongtinsp{
	padding: 0 30px;
	margin-bottom: 5%;
}
.custom_row_motasp{
	padding: 0 30px;
	width: 100% !important;
	margin: 5% 0;
}
tr{
	height: 60px;
}
table, th, td {
	border-bottom: 0.5px solid #d8d8d8;
	
  }

.soluong{
	padding: 0.5em;
	box-sizing: border-box;
	width: 20%;
	height: 3em;
	margin-right: 1em;
}
.thanhtoan{
	height: 5em;
	line-height: 5em;
	width: 100%;
	display: flex;
}
.custom_btn{
	color: #fff !important;
	margin-left: 14px;
	height: 3em;
	box-sizing: border-box;
	padding: 0.5em;
}
.mo-ta-sp{
	margin-bottom: 30px;
}
.add-to-cart{
	width: auto;
	height: 3em;
	line-height: 3em;
	color: #fff;
	display: block;
	text-align: center;
	background-color: #000;
	transition: .3s;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	
}
.add-to-cart:hover{
	text-decoration: none;
	background-color: #d8d8d8;
	color: #000;
}
td{
	padding-left: 8px;
	padding-right: 8px;
}
.custom_rowmotachitiet{
	padding-left: 15px;
}
.row-gallery {
	margin-top: 5%;
}
img.sub-image{
	width: 100% !important;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	opacity: 0.8;
	cursor: pointer;
}

img.sub-image:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	opacity: 1;
}

