
.custom_row_mt4{
	margin-left: 8px !important;
	margin-right: 8px !important;
}

.list-product-title{
	width: 100%;
	height: 2.6rem;
	color: #a0a0a0;	
	font-size: 1.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center !important;
}
.custom-brand-card-image {
	height: 280px !important;
	object-fit: cover !important;
	background-size: 100% !important;
	background-position: center !important;
	cursor: zoom-in !important;
	transition: 1s;
	/* opacity: 0.5; */
	
}
/*.custom-brand-card-image:hover{
	transition: : scale(1.5) !important;
	
	
}*/
.custom-col-brand {
	margin-bottom: 1.5em !important;
	height: 280px !important;
	overflow: hidden !important;
}
.custom-item-brand-text-color {
	color: #fff;
	text-decoration: none !important;
	
}
.custom-card-overlay {
	/* Tạo lớp phủ màu trong suốt cho div chứa chữ */
	background-color: rgba(52,73,94,0.75);
}
.custom_col{
	box-sizing: border-box;
	text-align: center;
	/* height: 21rem; */
	margin-bottom: 1.5em !important;
}
.custom_group{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1.6em;
	
}

.custom_card{
	width: 100%;
	/* max-height: 280px; */
	box-sizing: border-box;
}

.custom_col_image{
	width: 100%;
    /* height: 280px; */
    object-fit: cover;
}
.custom-item-color{
	color: black;
}
.custom-item-color:hover{
	text-decoration: none;
	color: #a0a0a0;
}
.custom-productprice {
	/* font-size: larger !important; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.load-more-btn{
	text-align: center;
}

.load-more-text {
	width: 150px;
	color: #000;
	text-align: center;
	display: block;
	margin: 20px auto;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	box-sizing: border-box;
	transition: .3s;
  }
  .load-more-text:hover {
	color: #fff;
	background-color: #000;
	border: 1px solid #000;
	text-decoration: none;
  }
  .noContent{
  	color: #000 !important;
  	background-color: transparent !important;
  	pointer-events: none;
  }
  .cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
}

.sn{
	width: 40px;

}
.shopee-search-empty-result-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 6.25rem 0 7.5rem;
}
.shopee-search-empty-result-section__hint {
    font-size: 1.125rem;
    color: rgba(0,0,0,.54);
}
.shopee-search-empty-result-section__title {
    margin: .9375rem 0 .625rem;
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
}
.shopee-search-empty-result-section__icon {
    width: 8.375rem;
}
