
.cash-note{
    text-align: justify;
    font-style: italic;
    font-size: small;
    margin-bottom: 8px;
    color: crimson;
}
.transfer-note{
    text-align: justify;
    font-style: italic;
    font-size: small;
    color: crimson;
}
.radio-option{
    margin-bottom: 16px;
}
.custom-paying{
    margin: 32px 0;
}
.paypal-img{
    margin-left: -14px;
    margin-top: 8px;
}
.custom-btn{
    margin: auto 0;
}
.custom-dropdown-address {
    text-align: right !important;
    padding-left: 8px !important;
    width: 100% !important;
}
.custom-input-address {
    
}
.custom-dropdown-menu {
    width: 50px !important;
}
.custom-btn-dropdown {
    border-bottom: 0.5px solid #d9d9d9 !important;
}